{% extends 'payrollapp/base.html' %}
{% load static %}

{% block content %}




<div class="content">
    {% if messages %}
    <div class="card">
        <div class="card-header">
            {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    </div>
    </br>
    {% endif %}
    <form method="POST" action="#">{% csrf_token %}
        <h1> Create Employee Record </h1><hr>
        <h5> Personal Details </h5>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputFstName">First Name</label>
            <input type="text" class="form-control" id="inputFstName" name="inputFstName" placeholder="">
          </div>
          <div class="form-group col-md-4">
            <label for="inputMidName">Middle Name</label>
            <input type="text" class="form-control" id="inputMidName" name="inputMidName" placeholder="">
          </div>
          <div class="form-group col-md-4">
            <label for="inputLtName">Last Name</label>
            <input type="text" class="form-control" id="inputLtName" name="inputLtName" placeholder="">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPhone">Phone Number</label>
            <input type="number" class="form-control" id="inputPhone" name="inputPhone" step="1" placeholder="XXXX-XXX-XXXX">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" name="inputEmail4" placeholder="Email">
          </div>
        </div>
        <hr>

        <h5> Employment Details </h5>
        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="inputID">ID Number</label>
                <input type="text" class="form-control" id="inputID" name="inputID" placeholder="XXX000" readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="inputJoinDate">Join Date</label>
                <input type="date" class="form-control" id="inputJoinDate" name="inputJoinDate" placeholder="XXXXXX">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmpStat">Contract Status</label>
                <select id="inputEmpStat" name="inputEmpStat" class="form-control">
                  <option selected>Choose Status</option>
                  <option value="Hired">Hired</option>
                  <option value="Terminated">Terminated</option>
                  <option value="On Leave">On Leave</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="inputDept">Department</label>
                <select id="inputDept" name="inputDept" class="form-control">
                  <option selected>Choose Department</option>
                  <option value="HR">HR</option>
                  <option value="IT">IT</option>
                  <option value="Sales">Sales</option>
                  <option value="Accounting">Accounting</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="inputPosition">Employee Position</label>
                <input type="text" class="form-control" id="inputPosition" name="inputPosition" placeholder="">
            </div>
            
        </div>
        <hr>

        <h5> Compensation Details </h5>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputBankAccNo">Bank Account Number</label>
                <input type="text" class="form-control" id="inputBankAccNo" name="inputBankAccNo" placeholder="">
            </div>
            <div class="form-group col-md-4">
                <label for="inputSalary">Salary</label>
                <input type="number" step="0.01" class="form-control" id="inputSalary" name="inputSalary" placeholder="">
            </div>
        </div>
        <hr>
        <div>
            <ul class="action-icons">
                <li><a class="btn btn-danger" href="{% url 'employee_database' %}">Cancel</a></li>
                <li><button class="btn btn-success" type="submit">Create Employee</button></li>
            </ul>
        </div>
    </form>

 </div>
<footer>
  <div class="footer-wrap">
    <div class="back-button">
        <a class="btn btn-dark mx-3" href="{% url 'employee_database' %}" type="button">Back</a>
    </div>
  </div>
</footer>
{% endblock %}