{% extends 'payrollapp/base.html' %}
{% load static %}

{% block content %}




<div class="content">
    <div>
      {% if messages %}
        {% for message in messages %}
          <!-- If success message -->
          {% if message.tags == 'success' %}
          <div class="alert alert-success mt-2" role="alert">
              <strong>Success!</strong>
              {{ message }}
          </div>
          {% endif %}

          <!-- If error message -->
          {% if message.tags == 'error' %}
          <div class="alert alert-danger mt-2" role="alert">
              <strong>Uh oh!</strong>
              {{ message }}
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    <form method="POST" action="#">{% csrf_token %}
        <h1> Create Employee Record </h1><hr>
        <h5> Personal Details </h5>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputFstName">First Name</label>
            <input type="text" class="form-control" id="inputFstName" name="inputFstName" placeholder="" required maxlength="50" pattern="[A-Za-z ]*">
          </div>
          <div class="form-group col-md-4">
            <label for="inputMidName">Middle Name</label>
            <input type="text" class="form-control" id="inputMidName" name="inputMidName" placeholder="" value='' maxlength="50" pattern="[A-Za-z ]*">
          </div>
          <div class="form-group col-md-4">
            <label for="inputLtName">Last Name</label>
            <input type="text" class="form-control" id="inputLtName" name="inputLtName" placeholder="" required maxlength="50" pattern="[A-Za-z ]*">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPhone">Phone Number</label>
            <input type="tel" class="form-control" id="inputPhone" name="inputPhone" placeholder='09XX-XXX-XXXX' pattern="[0-9]{4}-[0-9]{3}-[0-9]{4}" required>
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" name="inputEmail4" placeholder="Email" required>
          </div>
        </div>
        <hr>

        <h5> Employment Details </h5>
        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="inputID">ID Number</label>
                <input type="text" class="form-control" id="inputID" name="inputID" placeholder="XXX000" readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="inputJoinDate">Join Date</label>
                <input type="date" class="form-control" id="inputJoinDate" name="inputJoinDate" placeholder="XXXXXX" required>
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmpStat">Contract Status</label>
                <select id="inputEmpStat" name="inputEmpStat" class="form-control" required>
                  <option value="Probationary">Probationary</option>
                  <option value="Regular">Regular</option>
                  <option value="Terminated">Terminated</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="inputDept">Department</label>
                <select id="inputDept" name="inputDept" class="form-control">
                  {% for x in a %}
                  <option value={{x.Department_ID}}> {{x.Department_ID}} </option>
                  {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="inputPosition">Employee Position</label>
                <input type="text" class="form-control" id="inputPosition" name="inputPosition" placeholder="" pattern="[A-Za-z ]*" maxlength="50" required >
            </div>
            
        </div>
        <hr>

        <h5> Compensation Details </h5>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputBankAccNo">Bank Account Number</label>
                <input type="text" class="form-control" id="inputBankAccNo" name="inputBankAccNo" placeholder="For Newhires: 000000000000" minlength='12' maxlength='12' pattern="^00\d{10}$" required>
            </div>
            <div class="form-group col-md-4">
                <label for="inputSalary">Salary</label>
                <input type="number" step="0.01" class="form-control" id="inputSalary" name="inputSalary" placeholder="" min='12200.00' required>
            </div>
        </div>
        <hr>
        <div>
            <ul class="action-icons">
                <li><a class="btn btn-danger" href="{% url 'employee_database' UID=user.pk %}">Cancel</a></li>
                <li><button class="btn btn-success" type="submit">Create Employee</button></li>
            </ul>
        </div>
    </form>

 </div>
<footer>
  <div class="footer-wrap">
    <div class="back-button">
        <a class="btn btn-dark mx-3" href="{% url 'employee_database' UID=user.pk %}" type="button">Back</a>
    </div>
  </div>
</footer>


<!--script>
  $(document).ready(function() {
    // Close alerts after 5 seconds
    $(".alert").delay(5000).slideUp(200, function() {
      $(this).alert('close');
    });
  });
</script-->

{% endblock %}