{% extends 'payrollapp/base.html' %}
{% load static %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#U_A').click(function() {
            $.ajax({
                url: '{% url "A_UPLOAD" UID=user.pk %}',
                type: 'GET',  // Or 'POST' depending on your view's implementation
                success: function(response) {
                    $('#resultDiv').text('Data imported and database cleared successfully.');
                },
                error: function() {
                    $('#resultDiv').text('Error executing Python code.');
                }
            });
        });
    });
</script>

<script>
    function searchID() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("eID");
      filter = input.value.toUpperCase();
      table = document.getElementById("posts");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
</script>


<div class="main">
    <div class="dashboard-navbar">
        <form action="#">
            <div class="nav-search">
                <input type="text" class="search-query mr-3" placeholder="ID" id="eID" onkeyup="searchID()">
            </div>
        </form>
        {% if messages %}
        {% for message in messages %}
          <!-- If success message -->
          {% if message.tags == 'success' %}
          <div class="alert alert-success mt-2" role="alert">
              <strong>Success!</strong>
              {{ message }}
          </div>
          {% endif %}

          <!-- If error message -->
          {% if message.tags == 'error' %}
          <div class="alert alert-danger mt-2" role="alert">
              <strong>Uh oh!</strong>
              {{ message }}
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}
        <div class="navbar-content">
            <ul class="main-nav">
                <div class="nav-search">
                    <form action={% url "A_UPLOAD" UID=user.pk %} method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" required name="A_xls"> 
                        <button class="btn" type="submit">Submit</button> 
                    </form>
                </div>
            </ul>
        </div>
    </div>
    <div class="content">
        <h2>Attendance Database</h2>
        <div style="overflow-x:auto;">
            <table id="posts">
                <thead>
                    <tr>
                        <th style="width:10%">ID</th>
                        <th style="width:15%">Total Working Hours</th>
                        <th style="width:15%">Overtime Hours</th>
                        <th style="width:10%">Leaves Left</th>
                        <th style="width:10%">Options</th>
                    </tr>
                </thead>
                {% for i in b%}
                <tbody>
                    <tr>
                        <td>{{i.Employee_ID}}</td>
                        <td>{{i.HoursWorked|floatformat:2}}</td>
                        <td>{{i.OT__sum|floatformat:2}}</td>
                        <td>{{i.leaves_left}}</td>
                        <td><a class="btn" href="{% url 'employee_attendance' UID=user.pk EID=i.Employee_ID %}"><i class="lni lni-pencil-alt"></i></a></td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>



{% endblock %}