{% extends 'payrollapp/base.html' %}
{% load static %}

{% block content %}
<div class="main">
    <div class="dashboard-navbar">
        <form action="#">
          <div class="nav-search">
            <input type="text" class="search-query mr-3" placeholder="Search Name or ID" onkeyup="searchName()" id="eName">
            <input type="text" class="search-query px-3" id="eDepa" placeholder="Search Department" onkeyup="searchDepartment()">
            <!-- Fixing the filter command <select id="inputDept" class="search-query">
                <option selected >Department</option>
                <option value="HR">HR</option>
                <option value="IT">IT</option>
                <option value="Sales">Sales</option>
                <option value="Accounting">Accounting</option>
            </select>-->
            
          </div>
        </form>
        <div class="navbar-content">
            <ul class="main-nav">
                <div class="nav-search">
                    <a href="{% url 'add_employee' UID=user.pk %}" class="btn">+ Add Employee</a>
                </div>
            </ul>
        </div>
    </div>

    <div class="content">
        <h2>Employee Database</h2>
        
        <div style="overflow-x:auto;">
          {% for message in messages %}
          <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
          {% endfor %}
            <table id="posts">
                <thead>
                    <tr>
                        <th style="width:10%">ID</th>
                        <th style="width:30%">Name</th>
                        <th style="width:10%">Status</th>
                        <th style="width:10%">Department</th>
                        <th style="width:10%">Role</th>
                        <th style="width:10%">Join Date</th>
                        <th style="width:10%">Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for b in a %}
                    <tr>
                        <td> {{ b.id_number }} </td>
                        <td> {{ b.Last_name }}, {{ b.First_name }} {{ b.Middle_name }}</td>
                        <td> {{ b.Status }} </td>
                        <td> {{ b.Department }} </td>
                        <td> {{ b.Role }} </td>
                        <td> {{ b.Join_Date }} </td>
                        <td> <a href="{% url 'employee_info' UID=user.pk EID=b.pk %}">Edit</a> </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    function searchName() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("eName");
      filter = input.value.toUpperCase();
      table = document.getElementById("posts");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }

    function searchDepartment() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("eDepa");
      filter = input.value.toUpperCase();
      table = document.getElementById("posts");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[3];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
</script>


{% endblock %}