{% extends 'payrollapp/base.html' %}
{% load static %}

{% block content %}


<div class="content">
    <div class="form-row"> 
        <h2 class="form-group col-md-6" > View Employee Record </h1>
        <div class="action-icons col-md-6">
            <a class="btn btn-info form-group" href="{% url 'employee_attendance' UID=user.pk EID=a.pk %}"> View Attendance </a>
            <!--button class="btn btn-primary form-group" type="button"> Edit Record</button-->
        </div>
    </div>
    <hr>
    {% if messages %}
      {% for message in messages %}
        <!-- If success message -->
        {% if message.tags == 'success' %}
        <div class="alert alert-success mt-2" role="alert">
            <strong>Success!</strong>
            {{ message }}
        </div>
        {% endif %}

        <!-- If error message -->
        {% if message.tags == 'error' %}
        <div class="alert alert-danger mt-2" role="alert">
            <strong>Uh oh!</strong>
            {{ message }}
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    <form method="POST" action="#">{% csrf_token %}
        <h5> Personal Details </h5>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputFstName">First Name</label>
            <input type="text" class="form-control" id="inputFstName" name="inputFstName"value="{{a.First_name}}"  required maxlength="50" pattern="[A-Za-z ]*">
          </div>
          <div class="form-group col-md-4">
            <label for="inputMidName">Middle Name</label>
            <input type="text" class="form-control" id="inputMidName" name="inputMidName" value="{{a.Middle_name}}" maxlength="50" pattern="[A-Za-z ]*">
          </div>
          <div class="form-group col-md-4">
            <label for="inputLtName">Last Name</label>
            <input type="text" class="form-control" id="inputLtName" name="inputLtName" value="{{a.Last_name}}"  required maxlength="50" pattern="[A-Za-z ]*">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPhone">Phone Number</label>
            <input type="tel" class="form-control" id="inputPhone" name="inputPhone" placeholder='09XX-XXX-XXXX' pattern="[0-9]{4}-[0-9]{3}-[0-9]{4}" value="{{a.Phone_Number}}" required>
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" name="inputEmail4" value="{{a.Email}}" required>
          </div>
        </div>
        <hr>

        <h5> Employment Details </h5>
        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="inputID">ID Number</label>
                <input type="text" class="form-control" id="inputID" name="inputID" value="{{a.id_number}}" readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="inputJoinDate">Join Date</label>
                <input type="date" class="form-control" id="inputJoinDate" name="inputJoinDate" placeholder="{{a.Join_Date}}" value="{{a.Join_Date |date:'Y-m-d'}}" required>
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmpStat">Contract Status</label>
                <select id="inputEmpStat" name="inputEmpStat" class="form-control" required>
                  <option selected value="{{a.Status}}">Currently: {{a.Status}}</option>
                  <option value="Regular">Regular</option>
                  <option value="Probationary">Probationary</option>
                  <option value="Terminated">Terminated</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="inputDept">Department</label>
                <select id="inputDept" name="inputDept" class="form-control" required>
                  <option selected value="{{a.Department}}">Currently: {{a.Department}}</option>
                  <!--option value="HR">HR</option>
                  <option value="IT">IT</option>
                  <option value="Sales">Sales</option>
                  <option value="Accounting">Accounting</option-->
                  {% for x in b %}
                  <option value={{x.Department_ID}}> {{x.Department_ID}} </option>
                  {% endfor %}
                </select>
            </div>
            
            <div class="form-group col-md-3">
                <label for="inputPosition">Employee Position</label>
                <input type="text" class="form-control" id="inputPosition" name="inputPosition" value="{{a.Role}}" pattern="[A-Za-z ]*" maxlength="50"required>
            </div>
            
        </div>
        <hr>

        <h5> Compensation Details </h5>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputBankAccNo">Bank Account Number</label>
                <input type="text" class="form-control" id="inputBankAccNo" name="inputBankAccNo" placeholder=""  value="{{a.BankNumber}}" minlength='12' maxlength='12' pattern="^00\d{10}$" required>
            </div>
            <div class="form-group col-md-4">
                <label for="inputSalary">Salary</label>
                <input type="number" class="form-control" id="inputSalary" name="inputSalary" value="{{a.Salary}}" min='12200.00'>
            </div>

        </div>
        <hr>
        <div>
            <ul class="action-icons">
                <li><a class="btn btn-danger" href="{% url 'employee_database' UID=user.pk %}" type="button">Cancel</a></li>
                <li><button class="btn btn-success" type="submit">Confirm</button></li>
            </ul>
        </div>
    </form>

 </div>
 <footer>
    <div class="footer-wrap">
      <div class="back-button">
          <a class="btn btn-dark mx-3" href="{% url 'employee_database' UID=user.pk %}" type="button">Back</a>
      </div>
    </div>
  </footer>



{% endblock %}