{% extends 'payrollapp/base.html' %}
{% load static %}

{% block content %}
   
<div class="content">
   <h2> Attendance History </h2> 
   <hr>
   <div class="form-row">
    <div class="form-group col-md-2">
        <label for="inputID">ID Number</label>
        <input type="text" class="form-control" id="inputID" value="{{a.id_number}}" readonly>
    </div>
    <div class="form-group col-md-5">
      <label for="inputFullName"> Name</label>
      <input type="text" class="form-control" id="inputFullName" value="{{a.getFullName}}" readonly>
    </div>
    <div class="form-group col-md-5">
        <label for="inputDept">Department</label>
        <input type="text" class="form-control" id="inputDept" value="{{a.Department}}" readonly>
    </div>
    <!--div class="form-group col-md-3">
        <label for="mth_yr">Month & Year</label>
        <input type="date" class="form-control" id="mth_yr">
    </div-->
  </div>
  <form method="POST" action="#">
    <div style="overflow-x:auto;">
      <table id="posts">
          <thead>
              <tr>
                  <th style="width:10%">Date</th>
                  <!--th style="width:20%">Attendance Status</t-->
                  <th style="width:15%">Leave</th>
                  <th style="width:15%">Holiday</th>
                  <th style="width:15%">Time In</th>
                  <th style="width:15%">Time Out</th>
                  <th style="width:15%">Overtime Hours</th>
                  <th style="width:15%">Night Shift Hours</th>
              </tr>
          </thead>
          <tbody>
              {% for x in attendance_record %}
              <tr>
                  <td>{{x.Date}}</td>
                  <td><input type="float" class="form-control" id="" value=""></td>
                  <td><input type="float" class="form-control" id="" value=""></td>
                  <td></td>
                  <td>{{x.TimeIn}}</td>
                  <td>{{x.TimeOut_2}}</td>
                  <td><input type="float" class="form-control" id="empOT" value=" {{x.OT}}"></td>
                  <td><input type="float" class="form-control" id="empNightShft" value=""></td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
    <div>
      <ul class="action-icons">
          <li><button class="btn btn-success" type="submit">Confirm</button></li>
      </ul>
    </div>
  </form>
</div>
<footer>
    <div class="footer-wrap">
      <div class="back-button">
          <a class="btn btn-dark mx-3" href="{% url 'employee_info' UID=user.pk EID=a.pk %}" type="button">Back</a>
      </div>
    </div>
  </footer>
{% endblock %}