{% extends 'payrollapp/base.html' %}
{% load static %}

{% block content %}

<div class="content">
    <div class="card">
        <h3 class="card-header">Generate Payroll</h3>
        <div class="card-body">
            <div class="form-group my-2">
                <label for="inputDept">Department</label>
                <select id="inputDept" class="form-control">
                  <option selected>Choose Department</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
            </div>
            <div class="form-group my-2">
                <label for="inputStartDate">Payroll Range Start Date</label>
                <input type="date" class="form-control" id="inputStartDate">
            </div>
            <div class="form-group my-2">
                <label for="inputEndDate">Payroll Range End Date</label>
                <input type="date" class="form-control" id="inputEndDate">
            </div>
            <button class="btn btn-secondary my-2" type="button">Generate</button>
        </div>
    </div>
    <h2>Generated Payroll</h2>
    <div style="overflow-x:auto;">
        <table id="posts">
            <thead>
                <tr>
                    <th style="width:10%">ID</th>
                    <th style="width:20%">Employee Name</th>
                    <th style="width:10%">Basic Pay</th>
                    <th style="width:10%">Daily Rate</th>
                    <th style="width:10%">Gross Compensation</th>
                    <th style="width:10%">Total Deductions</th>
                    <th style="width:10%">Net Pay</th>
                    <th style="width:10%">Action</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ABC028</td>
                    <td><a href="#">John Doe</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="#">Edit</a></td>
                </tr>
                <tr>
                    <td>ABC028</td>
                    <td><a href="#">Jane Doe</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="#">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

    



{% endblock %}