{% extends 'payrollapp/base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}




<div class="content">
    <div class="card">
        <h4 class="card-header">Generate Payroll</h4>
        <div class="card-body">
            <form method="POST" action="#">{% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-1">
                        <label for="inputID">Employee ID</label>
                        <select class="form-control custom-select mr-sm-2" id="inputID" name="inputID" required>
                        {% for b in a %}
                            <option value="{{b.id_number}}">{{b.id_number}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputStartDate">Start Date</label>
                        <input type="date" class="form-control" id="inputStartDate" name="inputStartDate" required>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputEndDate">End Date</label>
                        <input type="date" class="form-control" id="inputEndDate" name="inputEndDate" required> 
                    </div>
                    <div class="form-group col-md-1">
                        <label for="inputULD">ULD</label>
                        <input type="number" class="form-control" id="inputULD" name="inputULD" min='0' step='0.01' required>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="inputULDT">ULD - TYPE</label>
                        <input type="text" class="form-control" id="inputULDT" name="inputULDT" required>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="inputCA">CA</label>
                        <input type="number" class="form-control" id="inputCA" name="inputCA" min='0'step='0.01' required>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="inputCOOP">COOP</label>
                        <input type="number" class="form-control" id="inputCOOP" name="inputCOOP" min='0' step='0.01' required>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="inputCOLA">COLA</label>
                        <input type="number" class="form-control" id="inputCOLA" name="inputCOLA" min='0' step='0.01' required>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="inputADDE">Additional </label>
                        <input type="number" class="form-control" id="inputADDE" name="inputADDE" min='0' step='0.1' required>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="inputADDET">Add'l - TYPE</label>
                        <input type="text" class="form-control" id="inputADDET" name="inputADDET" required>
                    </div> 
                </div>
                <div class="text-center">
                    <button class="btn btn-secondary btn-block" type="submit">Generate</button>
                </div>
                {% if messages %}
                    {% for message in messages %}
                         <!-- If success message -->
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success mt-2" role="alert">
                            <strong>Success!</strong>
                            {{ message }}
                        </div>
                        {% endif %}

                          <!-- If error message -->
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger mt-2" role="alert">
                            <strong>Uh oh!</strong>
                            {{ message }}
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <!--{% if messages %}
                    {% for message in messages %}
                        <div class="{{ message.tags }} fade show mt-3" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}-->
            </form>
        </div>
    </div>
    <div style="overflow-x:auto;">
        <table id="posts">
            <thead>
                <tr>
                    <th style="width:5%">Employee ID</th>
                    <!--th style="width:15%">Employee Name</th-->
                    <th style="width:15%">Payoll Period</th>
                    <!--th style="width:10%">Basic Pay</th-->
                    <!--th style="width:10%">Total Deductions</th-->
                    <th style="width:10%">Net Pay</th>
                    <th style="width:8%">Options</th>

                </tr>
            </thead>
            
            <tbody>
                {% for i in payslip %}
                <tr>
                    <td>{{i.Employee_ID}}</td>
                    <!--td>{{i.Last_name}}, {{i.First_name}} {{i.Middle_name}}</td-->
                    <td>{{i.Start_Date}} - {{i.End_Date}}</td>
                    <!--td></td-->
                    <!--td>{{i.Total_Deductions}}</td-->
                    <td>{{i.Net_Pay|floatformat:2}}</td>
                    <td class="form-row">
                        <a class="btn" href="{% url 'payroll_breakdown' UID=user.pk  TID=i.Transaction_ID %}"><i class="lni lni-pencil-alt"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const startDateInput = document.getElementById('inputStartDate');
    const endDateInput = document.getElementById('inputEndDate');
    const today = new Date();
    const currentMonth = today.getMonth();
    const currentYear = today.getFullYear();
    const tenthOfMonth = new Date(currentYear, currentMonth, 10);

    function isValidDate(date) {
        const day = date.getDate();
        return (day >= 8 && day <= 12) || (day >= 23 && day <= 27);
    }


    endDateInput.addEventListener('input', function() {
        const endDate = new Date(endDateInput.value);
        const startDate = new Date(endDate.getTime() - (14 * 24 * 60 * 60 * 1000)); // Add 14 days
        const startDateFormatted = startDate.toISOString().slice(0, 10); // Format as YYYY-MM-DD
        startDateInput.value = startDateFormatted;
        if (!isValidDate(endDate)) {
            alert('Please select a valid date between 8-12 or 23-27.');
            dateInput.valueAsDate = tenthOfMonth; // Reset to the 10th of the month
        }
    });
</script>
    



{% endblock %}