{% extends 'payrollapp/base.html' %}
{% load static %}

{% block content %}

<div class="content">
    <h1> Credit & Deductibles Module </h1>
    <div id="resultDiv"></div>
    
    <div style="overflow-x:auto;">
        <table id="posts">
            <thead>
                <tr>
                    <th style="width:15%">Module</th>
                    <th style="width:20%">Category</th>
                    <th style="width:10%">Update Modules</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>HDMF</td>
                    <td>Deductions</td>
                    <td>
                        <form action={% url "HDMF_UPLOAD" UID=user.pk %} method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" required name="hdmf_xls"> 
                            <button type="submit">Submit</button> 
                        </form>

                    </td>
                </tr>
                <tr>
                    <td>SSS</td>
                    <td>Deductions</td>
                    <td>
                        <form action={% url "SSS_UPLOAD" UID=user.pk %} method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" required name="sss_xls"> 
                            <button type="submit">Submit</button> 
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>PhilHealth</td>
                    <td>Deductions</td>
                    <td>
                        <form action={% url "PH_UPLOAD" UID=user.pk %} method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" required name="PH_xls"> 
                            <button type="submit">Submit</button> 
                        </form>

                    </td>
                </tr>
                <tr>
                    <td>Witholding Tax</td>
                    <td>Deductions</td>
                    <td>
                        <form action={% url "WT_UPLOAD" UID=user.pk %} method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" required name="WT_xls"> 
                            <button type="submit">Submit</button> 
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Holiday</td>
                    <td>Additions</td>
                    <td>
                        <form action={% url "Holiday_UPLOAD" UID=user.pk %} method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" required name="Holiday_xls"> 
                            <button type="submit">Submit</button> 
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Leave</td>
                    <td>Additions</td>
                    <td>
                        <form action={% url "Leave_UPLOAD" UID=user.pk %} method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" required name="Leave_xls"> 
                            <button type="submit">Submit</button> 
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>HMO</td>
                    <td>Deductions</td>
                    <td><a class="btn" href="{% url 'HMO_DB' UID=user.pk %}"><i class="lni lni-pencil-alt"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>



</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



{% endblock %}