{% extends 'payrollapp/base.html' %}
{% load static %}

{% block content %}

<div class="content">
    <h1> Credit & Deductibles Module </h1>
    <div id="resultDiv"></div>
    
    <div style="overflow-x:auto;">
        <table id="posts">
            <thead>
                <tr>
                    <th style="width:15%">Module</th>
                    <th style="width:20%">Category</th>
                    <th style="width:10%">Update Modules</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>HDMF</td>
                    <td>Deductions</td>
                    <td>
                        <form action={% url "HDMF_UPLOAD" UID=user.pk %} method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" required name="hdmf_xls"> 
                            <button type="submit">Submit</button> 
                        </form>

                    </td>
                </tr>
                <tr>
                    <td>SSS</td>
                    <td>Deductions</td>
                    <td>
                        <form action={% url "SSS_UPLOAD" UID=user.pk %} method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" required name="sss_xls"> 
                            <button type="submit">Submit</button> 
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>PhilHealth</td>
                    <td>Deductions</td>
                    <td>
                        <form action={% url "PH_UPLOAD" UID=user.pk %} method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" required name="hdmf_xls"> 
                            <button type="submit">Submit</button> 
                        </form>

                    </td>
                </tr>
                <tr>
                    <td>Witholding Tax</td>
                    <td>Deductions</td>
                    <td>
                        <form action={% url "WT_UPLOAD" UID=user.pk %} method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" required name="hdmf_xls"> 
                            <button type="submit">Submit</button> 
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Holiday</td>
                    <td>Additions</td>
                    <td>
                        <form action={% url "Holiday_UPLOAD" UID=user.pk %} method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" required name="hdmf_xls"> 
                            <button type="submit">Submit</button> 
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Leave</td>
                    <td>Additions</td>
                    <td>
                        <form action={% url "Leave_UPLOAD" UID=user.pk %} method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" required name="hdmf_xls"> 
                            <button type="submit">Submit</button> 
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>HMO</td>
                    <td>Deductions</td>
                    <td><a class="btn" href="{% url 'HMO_DB' UID=user.pk %}"><i class="lni lni-pencil-alt"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>



</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        $('#executeButton_SSS').click(function() {
            $.ajax({
                url: '{% url "SSS_UPLOAD" %}',
                type: 'GET',  // Or 'POST' depending on your view's implementation
                success: function(response) {
                    $('#resultDiv').text('Data imported and database cleared successfully.');
                },
                error: function() {
                    $('#resultDiv').text('Error executing Python code.');
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function() {
        $('#executeButton_PH').click(function() {
            $.ajax({
                url: '{% url "PH_UPLOAD" %}',
                type: 'GET',  // Or 'POST' depending on your view's implementation
                success: function(response) {
                    $('#resultDiv').text('Data imported and database cleared successfully.');
                },
                error: function() {
                    $('#resultDiv').text('Error executing Python code.');
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function() {
        $('#executeButton_WT').click(function() {
            $.ajax({
                url: '{% url "WT_UPLOAD" %}',
                type: 'GET',  // Or 'POST' depending on your view's implementation
                success: function(response) {
                    $('#resultDiv').text('Data imported and database cleared successfully.');
                },
                error: function() {
                    $('#resultDiv').text('Error executing Python code.');
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function() {
        $('#executeButton_HOLI').click(function() {
            $.ajax({
                url: '{% url "Holiday_UPLOAD" %}',
                type: 'GET',  // Or 'POST' depending on your view's implementation
                success: function(response) {
                    $('#resultDiv').text('Data imported and database cleared successfully.');
                },
                error: function() {
                    $('#resultDiv').text('Error executing Python code.');
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function() {
        $('#executeButton_LEAVE').click(function() {
            $.ajax({
                url: '{% url "Leave_UPLOAD" %}',
                type: 'GET',  // Or 'POST' depending on your view's implementation
                success: function(response) {
                    $('#resultDiv').text('Data imported and database cleared successfully.');
                },
                error: function() {
                    $('#resultDiv').text('Error executing Python code.');
                }
            });
        });
    });
</script>

{% endblock %}